<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>
                %d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n
            </pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="STDOUT" />
    </root>

    <logger name="ru.fistech" level="DEBUG"/>

    <logger name="com.avaje.ebeaninternal.server.autotune" level="TRACE"/>

    <logger name="com.avaje.ebean" level="INFO"/>
    <logger name="org.avaje.ebean.SQL" level="TRACE"/>
    <logger name="org.avaje.ebean.TXN" level="TRACE"/>
    <logger name="org.avaje.ebean.SUM" level="TRACE"/>

    <logger name="org.avaje.ebean.cache.QUERY" level="TRACE"/>
    <logger name="org.avaje.ebean.cache.BEAN" level="TRACE"/>
    <logger name="org.avaje.ebean.cache.COLL" level="TRACE"/>
    <logger name="org.avaje.ebean.cache.NATKEY" level="TRACE"/>

    <logger name="com.avaje.tests" level="DEBUG"/>

</configuration>